#main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.toast-top-right {
  margin-top: 70px;
}